<html>
<head>
	<title>
		About Me
	</title>
	<link rel="stylesheet" type="text/css" href="/css/style1.css">
</head>
<body style="background-color:rgb(229, 229, 229);margin:0;">
	<div class ="tbar">
		tanmay tiwari
	</div>
	<div class="lbar">
		<ul  style="list-style-type:NONE;padding:0;">
			<li  class="nav"  >
				<a href="front.php" class="boxed">
				Useless Links
				</a></li>
				<li class="nav" >
					<a href="am.html" class="boxed">
						About Me
					</a>
				</li>
					</div>
					<div class="rbar" style="width:800px;">

						<img src="/images/new.JPG" alt="beta esa ni kehte" style="margin-right:10px; margin-top:10px;float:left;position:absolute;width:700px; z-index:-1"/>
						<div class="box" ><p class=headu>Tanmay Tiwari</p><p class = "details">Tanmay Tiwari is an awesome programmer at SDSLabs. His hobbies are causing war and destruction. He doesn't even know a little bit of html or css.</p>
						</div>

						<div class="box" style="height:170px"><p class=headu>Want to become awesome?</p><p class = "details">Join Tanmay's awesomeness coaching classes. Hurry up, few seats remaining. To register <a href="aboutme.html">click here.</a> </p>
						</div>

						<div class="box" style="display:inline-block;"><p class=headu>Contact Me</p><p class = "details">sigh;lsjg slejg slejg</p>
						</div>
						
						</div>

					</div>
					<div class="bbar">
						<div class="nav">Warning: Don't click on any link on this web page.</div>

					</div>
				</body>
				</html>