<html>
	<head>
		<title>Useless Links</title>
		<link rel="stylesheet" href="/css/styles.css" type="text/css">
	</head>
	
	<body>
		<div class ="tbar">
			useless links
			</div>
			<div class="lbar">
			<ul  class="lbarul">
			<li  class="nav"  >
			<a href="front.php" class="boxed">
			Useless Links
			</a></li>
			<li class="nav" >
			<a href="am.html" class="boxed">
			About Me
			</a>
			</li>
			
			</div>
			<div class="rbar">

			<div style="float:right;">
			<div class="box" >
				<p class="headu">Sign In</p>
				<form action="login.php" method="POST">
					Username : <input type="text" placeholder="Username" name="username"><br>
					Password : <input type="password" required placeholder="Password" name="password"><br>
					<input type="submit" value="Sign In" name="submit">
				</form>
				
			</div>

			<div class="box" >
				<p class="headu">Create a new account</p>
				<form action="signup.php" method="POST">
					Full Name : <input type="text" placeholder="Full Name" name="name"><br>
					Username : <input type="text" placeholder="Username" name="username"><br>
					Password : <input type="password" placeholder="Password" name="password"><br>

					<input type="submit" value="Sign Up" name="submit">
					

				</form>
			</div>
			</div>
			<div class="linkall" style="display:block;float:left;width:700px;">
			
			{% for obj in objs %}
					<div class="oneset box">
					<div class="times">
					
					{{obj['timr']}}
					</div>
					<div class="linkone">
					<p class="headu link"><a class="ref" href = {{obj['url']}} target="_blank">
						{{obj['url']}}
						
					</a></p>
					<p class="name">
					{{obj['username']}}
					</p>
					</div>
					</div>
			{% endfor %}
			</div>

			
			</div>
			<div class="bbar">
			<div class="nav">Warning: Don't click on any link on this web page.</div>

			</div>

			
			
		
	</body>	
</html>
